<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" > 
<meta name="viewport" content="width=device-width, initial-scale=1" >
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='transfer.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<style>
 li:hover{
	font-size: 20px;
	transition: all .3s ease-out;
 }
</style>

    <title>CX Spectra</title>
  </head>
<body bgcolor=white>
    
	<table border="0" cellpadding="10">
      <tr>
        <td>
		<p></p>
        </td>
        <td>
          <h1>CX Spectra</h1>
        </td>
      </tr>
    </table>

    <p> Sources </p>

<ul>
{% for filename in allsources %}
<li> <a href="/{{filename}}">{{filename}} </a></li>
{% endfor %}
</ul>

</body>
</html>
